<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza rendelési űrlap</title>
</head>
<body>
    <h1>Pizza rendelési űrlap</h1>

    <form method="post">
    <fieldset>
        <legend>Vevő Adatai</legend>
        Név<input type="text" name="name" required> <br>  
        Telefon<input type="tel" name="phone" required>
    </fieldset>

    <fieldset>
        <legend>Pizza Mérete</legend>
        <input type="radio" name="size" value="kicsi" required>Kicsi <br>  
        <input type="radio" name="size" value="nagy">Nagy
    </fieldset>

    <fieldset>
        <legend>Feltétek</legend>
        <input type="checkbox" name="sonka" required>Sonka <br>  
        <input type="checkbox" name="sajt">Sajt <br>
        <input type="checkbox" name="gomba">Gomba
    </fieldset>

    <button type="reset">Visszaállítás</button>
    <button type="submit">Rendelés</button>
        

    <a href="/">Vissza a főoldalra</a>
</body>
</html>